*.o
*.g*
*.G*
*.$*
**/*.out
**/*.log
*.o
2DMAIZSIM.exe
Maizsim.dll
/fort.4
/2DSOIL03.LOG
*.vcxproj
Crop Source/Crop.vcxproj
Crop Source/solar.cp
Crop Source/solarh
maizsim
**/*.$$$
errors.txt
*.out
*.crp

